<main>
  <h1>Angular {{title | titlecase}}</h1>
  <p appStyle="green" [dStyles]="{
  border: '2px solid red',
  fontWeight: 'bold',
  borderRadius: '5px'
  }">
    Custom Directive is entered.
  </p>
  <p appStyle="green" [dStyles]="{
  border: '2px solid blue',
  fontWeight: 'bold',
  borderRadius: '5px'
  }">
    Custom Directive is entered.
  </p>

  <button class="btn" (click)="isVisible = !isVisible">Toggle</button>

<!-- *appIfNot="!isVisible" -->
<!--  <div class="wrapper" *appIfNot="!isVisible">-->
<!--    <p class="text">-->
<!--      Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
<!--      Adipisci asperiores at culpa deleniti dolorem illum ipsa-->
<!--      modi officiis placeat reprehenderit?-->
<!--    </p>-->
<!--  </div>-->

<!-- [appIfNot]="!isVisible" -->
  <ng-template [appIfNot]="!isVisible">
    <div class="wrapper" >
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Adipisci asperiores at culpa deleniti dolorem illum ipsa
        modi officiis placeat reprehenderit?
      </p>
    </div>
  </ng-template>
</main>
