.input-content {
  display: flex;
  flex-direction: column;

  .input {
    margin-bottom: 5px;
  }

  .buttons-content {
    display: flex;

    .add-post {
      width: 100px;
    }

    .focus-title {
      width: 100px;
      margin-left: 5px;
    }
  }
}




